#---------------------------------------------------------------------
#Required Input
#---------------------------------------------------------------------
input_matrix=${PWD}/Data/GM12878_10kb_Chr4_40Mb_42.5Mb.txt	   	#change input file path 
title="Job Title" 
description="Job Description" 
chr=4 															#change chromosome number
resolution=10000  												#change resolution
job_id=10daf980-57a6-4e0c-a4e4-4bef2a673d50						#unique identifier
#specify the datatype provided from this options: square,sparse,cool,hic,h5
data_input_type=sparse											#change data input type

#---------------------------------------------------------------------
#Normalization: Turn on(True) or off(False)
#---------------------------------------------------------------------
norm_chromor=False

species=hg19

norm_ice=False

norm_kr=True

norm_scn=False  

norm_vc=False  

norm_mcfs=False 

#---------------------------------------------------------------------
#TAD Callers: Turn on(True) or off(False)
#Note: Arrowhead: only compatible with data_input_type=hic; 
# 	   hic_explorer: only compatible with data_input_type=hic,cool,h5
#---------------------------------------------------------------------

clustertad=False 

catch=False 

arrowhead=False 					
arrowhead_genomeID=hg19 

topdom=False 
topdom_window=5 

armatus=True
armatus_gamma=0.2 

di=False
di_length=10 

spectral=False

gmap=False

ic_finder=False 

chromo_r=False 

hic_seg=False 

insulation=False
insulation_window=0 

hic_explorer=False				 